@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #ff0000;
$color: #111;
$primary: #FFAB9D;
$title: 'Open Sans', sans-serif;
$subtitle: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

@import "~bulma/bulma.sass";

html{
  overflow: hidden;
}

body{
  margin: 0 auto;
  background: linear-gradient(17deg, #2A81DE, #DBD1DF, #3AD5D7, #3DC519);
  background-size: 600% 600%;
  
  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 94%}
      50%{background-position:100% 7%}
      100%{background-position:0% 94%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 94%}
      50%{background-position:100% 7%}
      100%{background-position:0% 94%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 94%}
      50%{background-position:100% 7%}
      100%{background-position:0% 94%}
  }
}


h1, h2, h3, h4 {
  font-family: $title;
  z-index: 2;
}

p, a, span, label {
  font-family: $subtitle;
  z-index: 2;
}

.btn-grad {
  border-radius: 100rem;
  padding: 1rem;
  font-size: 1rem;
  padding: .5rem 3rem;
  color: white;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(transparent, rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: transparent;
  &:hover{
    box-shadow: 2px 1000px 1px transparent;
    color: white;
  }
}

.is-1{
  font-size: 6rem !important;
}

.landing-caption{
  h2{
    font-size: 4rem;
  }
  h1{
    font-family: 'Righteous', cursive;
  }
}

.dinhoHand{
  font-size: 7rem;
}

.navbar {
  &.is-transparent {
  background-color: transparent;
  background-image: none;
  }
}

.custom-nav {
  padding: 30px 10px;
  font-size: 14px;
  .navbar-menu {
    a {
      padding: 0 30px;
      font-family: $title;
      color: $white;
      &:hover {
        background: transparent;
        font-weight: 800;
        font-size: 20px;
        color: $white;
        font-weight: 800;
      }
    }
  }
}


.cta{
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all .2s ease;
  color: #fff;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba($primary,.5);
    width: 56px;
    height: 56px;
    transition: all .3s ease;
  }
  span{
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  svg{
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $color;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
  }
  &:hover{
    &:before{
      width: 100%;
      background: rgba($primary,1);
    }
    svg{
      transform: translateX(0);
    }
  }
  &:active{
    transform: scale(.96);
  }
}

hr{
  background-color: orangered;
}