@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #ff0000;
$title: 'Open Sans', sans-serif;
$subtitle: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
@import "~bulma/bulma.sass";


h1, h2, h3, h4 {
  font-family: $title;
}

p, a, span, label {
  font-family: $subtitle;
}

.custom-nav {
  background-color: transparent;
  padding: 30px 10px;
  font-size: 20px;
  .navbar-menu {
    a {
      padding: 0 30px;
      font-family: $title;
      &:hover {
        background-color: transparent;
        color: blue;
      }
    }
  }
}

.bk-bg {
  background:linear-gradient(120deg, #185494, #EE1D23, #FAAF18, #FFFFFF);
}
